{% extends 'base.html' %}

{% block header %}
<h2>{{game['playerA']}} against {{ game['playerB'] or '🖥️' }}</h2>
<h3>{% block title %}{{user_facing_state}}{% endblock %}</h3>
{% endblock %}

{% block content %}

{% if not game_finished %}
<form method="post">
  <div>
    <input type="radio" id="rock" name="move" value="rock">
    <label for="rock">Rock</label><br>
    <input type="radio" id="paper" name="move" value="paper">
    <label for="paper">Paper</label><br>
    <input type="radio" id="scissors" name="move" value="scissors">
    <label for="scissors">Scissors</label><br>
  </div>
  <input type="submit" value="Submit" />
</form>
{% endif %}

<ol>
{% for message in messages %}
  <li>{{message}}</li>
{% endfor %}
</ol>

{% if game_finished %}
<form method="post" action="/">
  <input type="hidden" name="playerA" value="{{game['playerA']}}">
  <input type="hidden" name="playerB" value="{{game['playerB'] or '🖥️'}}">
  <input id="replay-game" type="submit" value="Replay Game with same players?">
</form>
<style>
#replay-game {
  background: none!important;
  border: none;
  padding: 0!important;
  text-decoration: underline;
  cursor: pointer;
}
</style>
{% endif %}

{% endblock %}